<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * This file is part of XNova:Legacies
 *
 * @license http://www.gnu.org/licenses/agpl-3.0.txt
 * @see http://www.xnova-ng.org/
 *
 * Copyright (c) 2009-2010, Grégory PLANCHAT <g.planchat at gmail.com>
 * All rights reserved.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * NOTICE:
 * This file is part of the core development branch, changing its contents will
 * make you unable to use the automatic updates manager. Please refer to the
 * documentation for further information about customizing XNova.
 *
 */
-->
<config>
  <default>
    <modules>
      <One_Admin_Cms>
        <version>0.1.0</version>
      </One_Admin_Cms>
    </modules>

    <model>
      <admin.cms>
        <namespace>One_Admin_Cms_Model</namespace>
      </admin.cms>
    </model>

    <exception>
      <admin.cms>
        <namespace>One_Admin_Cms_Exception</namespace>
      </admin.cms>
    </exception>

    <block>
      <admin.cms>
        <namespace>One_Admin_Cms_Block</namespace>
      </admin.cms>
    </block>

    <resource>
      <dao>
        <admin.cms>
          <namespace>One_Admin_Cms_Resource_Dao</namespace>
        </admin.cms>
      </dao>
      <orm>
        <admin.cms>
          <namespace>One_Admin_Cms_Resource_Orm</namespace>
        </admin.cms>
      </orm>
      <dal>
        <database>
          <admin.cms>
            <namespace>One_Admin_Cms_Dal_Database</namespace>
            <connection>
              <read>admin_cms_read</read>
              <write>admin_cms_write</write>
              <setup>admin_cms_setup</setup>
            </connection>
          </admin.cms>
        </database>
      </dal>
    </resource>

    <general>
      <layout>
        <admin.cms>cms.xml</admin.cms>
      </layout>
      <grids>
        <cms-page>
          <index>
            <type>admin.core/grid.column.indexer</type>
            <params>
              <width>50</width>
              <align>center</align>
            </params>
          </index>
          <entity_id>
            <type>admin.core/grid.column.entity</type>
            <params>
              <field>entity_id</field>
              <label>#</label>
              <width>100</width>
              <align>left</align>
            </params>
          </entity_id>
          <path>
            <type>admin.core/grid.column.string</type>
            <params>
              <field>path</field>
              <label>URL Path</label>
              <width>250</width>
              <align>left</align>
            </params>
          </path>
          <content>
            <type>admin.core/grid.column.string</type>
            <params>
              <field>content</field>
              <label>HTML Content</label>
              <align>left</align>
            </params>
          </content>
          <action>
            <type>admin.core/grid.column.action</type>
            <params>
              <width>50</width>
            </params>
          </action>
        </cms-page>
      </grids>
    </general>
  </default>
</config>