<?xml version="1.0" encoding="UTF-8"?>
<config>
  <default>
    <modules>
      <One_User>
        <version>0.1.0</version>
      </One_User>
    </modules>
    
    <global>
      <models>
        <user>
          <class_prefix>One_User_Model_</class_prefix>
          <resource>
            <master>
              <class_prefix>One_User_Model_Resource_</class_prefix>
            </master>
            <dao>
              <class_prefix>One_User_Model_Resource_Dao_Database_Mysql_</class_prefix>
              <connection>
                <read>user_read</read>
                <write>user_write</write>
                <setup>user_setup</setup>
              </connection>
            </dao>
            <orm>
              <class_prefix>One_User_Model_Resource_Orm_</class_prefix>
            </orm>
          </resource>
          <entities>
            <entity>
              <table>user__entity</table>
            </entity>
            <authentication>
              <table>user__authentication</table>
            </authentication>
          </entities>
        </user>
      </models>

      <exceptions>
        <user>
          <class>One_User_Exception_</class>
        </user>
      </exceptions>

      <resources>
        <user_setup>
          <connection>
            <use>core_setup</use>
          </connection>
        </user_setup>
        <user_read>
          <connection>
            <use>core_write</use>
          </connection>
        </user_read>
        <user_write>
          <connection>
            <use>core_write</use>
          </connection>
        </user_write>
      </resources>
    </global>
  </default>
</config>