<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * This file is part of XNova:Legacies
 *
 * @license http://www.gnu.org/licenses/agpl-3.0.txt
 * @see http://www.xnova-ng.org/
 *
 * Copyright (c) 2009-2010, Grégory PLANCHAT <g.planchat at gmail.com>
 * All rights reserved.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * NOTICE:
 * This file is part of the core development branch, changing its contents will
 * make you unable to use the automatic updates manager. Please refer to the
 * documentation for further information about customizing XNova.
 *
 */
-->
<config>
  <default>
    <modules>
      <One_Cms>
        <version>0.1.2</version>
      </One_Cms>
    </modules>

    <system>
      <routes>
        <cms>
          <type value="cms/router.route" />
          <defaults>
            <module value="One_Cms" />
            <controller value="display" />
            <action value="page" />
            <page-id value="homepage" />
            <layout>cms.page</layout>
          </defaults>
        </cms>
      </routes>
    </system>

    <model>
      <cms>
        <namespace>One_Cms_Model</namespace>
      </cms>
    </model>

    <exception>
      <cms>
        <namespace>One_Cms_Exception</namespace>
      </cms>
    </exception>

    <block>
      <cms>
        <namespace>One_Cms_Block</namespace>
      </cms>
    </block>

    <resource>
      <dao>
        <cms>
          <namespace>One_Cms_Resource_Dao</namespace>
        </cms>
      </dao>
      <orm>
        <cms>
          <namespace>One_Cms_Resource_Orm</namespace>
        </cms>
      </orm>
      <dal>
        <database>
          <cms>
            <namespace>One_Cms_Dal_Database</namespace>
            <connection>
              <read>cms_read</read>
              <write>cms_write</write>
              <setup>cms_setup</setup>
            </connection>
          </cms>
        </database>
        <entities>
          <cms>
            <page>
              <table>cms_page</table>
            </page>
          </cms>
        </entities>
      </dal>
    </resource>
    <general>
      <database>
        <connection>
          <cms_setup>
            <use>core_setup</use>
          </cms_setup>
          <cms_read>
            <use>core_read</use>
          </cms_read>
          <cms_write>
            <use>core_write</use>
          </cms_write>
        </connection>
      </database>
      <layout>
        <cms>cms.xml</cms>
      </layout>
    </general>
  </default>
</config>