<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * This file is part of One.Platform
 *
 * @license Modified BSD
 * @see https://github.com/gplanchat/one.platform
 *
 * Copyright (c) 2009-2010, Grégory PLANCHAT <g.planchat at gmail.com>
 * All rights reserved.
 *
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without modification,
 * are permitted provided that the following conditions are met:
 *
 *     - Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *
 *     - Redistributions in binary form must reproduce the above copyright notice,
 *       this list of conditions and the following disclaimer in the documentation
 *       and/or other materials provided with the distribution.
 *
 *     - Neither the name of Zend Technologies USA, Inc. nor the names of its
 *       contributors may be used to endorse or promote products derived from this
 *       software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
 * ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
 * ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 *                                    NOTICE
 *  This file is part of the core development branch, changing its contents will
 * make you unable to use the automatic updates manager. Please refer to the
 * documentation for further information about customizing XNova.
 *
 */
-->
<config>
  <default>
    <modules>
      <One_Admin_Core>
        <version>0.1.0</version>
      </One_Admin_Core>
    </modules>

    <model>
      <admin.core>
        <namespace>One_Admin_Core_Model</namespace>
      </admin.core>
    </model>

    <exception>
      <admin.core>
        <namespace>One_Admin_Core_Exception</namespace>
      </admin.core>
    </exception>

    <block>
      <admin.core>
        <namespace>One_Admin_Core_Block</namespace>
      </admin.core>
    </block>

    <resource>
      <dao>
        <admin.core>
          <namespace>One_Admin_Core_Resource_Dao</namespace>
        </admin.core>
      </dao>
      <orm>
        <admin.core>
          <namespace>One_Admin_Core_Resource_Orm</namespace>
        </admin.core>
      </orm>
      <dal>
        <database>
          <admin.core>
            <namespace>One_Admin_Core_Dal_Database</namespace>
            <connection>
              <read>admin_core_read</read>
              <write>admin_core_write</write>
              <setup>admin_core_setup</setup>
            </connection>
          </admin.core>
        </database>
      </dal>
    </resource>
    
    <general>
      <layout>
        <admin.core>core.xml</admin.core>
      </layout>
      
      <forms>
        <admin-user-entity>
          <actions>
            <submit>
              <params>
                <controller>grid</controller>
                <action>form-post</action>
              </params>
            </submit>
            <success>
              <params>
                <controller>grid</controller>
              </params>
            </success>
            <error>
              <params>
                <controller>grid</controller>
                <action>form</action>
              </params>
            </error>
          </actions>
          <fieldsets>
            <login />
          </fieldsets>
          <params>
            <name>login</name>
          </params>
        </admin-user-entity>
      </forms>

    </general>
  </default>
</config>