<?xml version="1.0" encoding="UTF-8"?>

<config>
  <default>
    <system>
      <routes>
        <core>
          <type value="Zend_Controller_Router_Route_Static" />
          <route value="" />
          <defaults>
            <module value="One_Admin_Core" />
            <controller value="index" />
            <action value="index" />
          </defaults>
        </core>
      </routes>
    </system>
  </default>
</config>