<?xml version="1.0" encoding="UTF-8"?>
<local>
  <default>
    <system>
      <hostname>localhost</hostname>
      <base-url>/</base-url>
    </system>
    <general>
      <database>
        <connection>
          <core_setup>
            <engine>core/connection.adapter.mysqli</engine>
            <params>
              <host>localhost</host>
              <username>root</username>
              <password></password>
              <dbname>db_legacies</dbname>
              <table-prefix>legacies_</table-prefix>
              <profiler>1</profiler>
              <charset>UTF8</charset>
            </params>
          </core_setup>
          <core_read>
            <engine>core/connection.adapter.mysqli</engine>
            <params>
              <host>localhost</host>
              <username>root</username>
              <password></password>
              <dbname>db_legacies</dbname>
              <table-prefix>legacies_</table-prefix>
              <profiler>1</profiler>
              <charset>UTF8</charset>
            </params>
          </core_read>
          <core_write>
            <engine>core/connection.adapter.mysqli</engine>
            <params>
              <host>localhost</host>
              <username>root</username>
              <password></password>
              <dbname>db_legacies</dbname>
              <table-prefix>legacies_</table-prefix>
              <profiler>1</profiler>
              <charset>UTF8</charset>
            </params>
          </core_write>
        </connection>
      </database>
    </general>
  </default>
  <backoffice>
    <system>
      <base-url>/admin/</base-url>
    </system>
  </backoffice>
  <production extends="default" />
  <preprod extends="production" />
  <testing extends="production" />
  <debug extends="production" />
</local>