<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
  <default>
    <system>
      <hostname>www.example.com</hostname>
      <base-url>/</base-url>
      <layout>
        <class>frontoffice</class>
        <design>default</design>
        <template>default</template>
      </layout>
    </system>
    <general>
      <locale>
        <code>fr_FR</code>
        <timezone>Europe/Paris</timezone>
      </locale>
      <database>
        <connection>
          <core_setup>
            <engine></engine>
            <params>
              <host></host>
              <username></username>
              <password></password>
              <dbname></dbname>
            </params>
          </core_setup>
          <core_read>
            <engine></engine>
            <params>
              <host></host>
              <username></username>
              <password></password>
              <dbname></dbname>
            </params>
          </core_read>
          <core_write>
            <engine></engine>
            <params>
              <host></host>
              <username></username>
              <password></password>
              <dbname></dbname>
            </params>
          </core_write>
        </connection>
      </database>
      <layout>
        <page>page.xml</page>
      </layout>
    </general>
    <modules>
      <One_Core>
        <codePool>core</codePool>
        <active>1</active>
        <route type="core/router.route" path="core" name="core" />
      </One_Core>
      <One_Core_Setup>
        <codePool>core</codePool>
        <active>0</active>
        <route type="core/router.route" path="setup" name="setup" />
        <requires>
          <One_Core />
        </requires>
      </One_Core_Setup>
    </modules>
  </default>
  <setup>
    <modules>
      <One_Core>
        <route />
      </One_Core>
      <One_Core_Setup>
        <active>1</active>
      </One_Core_Setup>
    </modules>
    <system>
      <default-module>One_Core_Setup</default-module>
      <layout>
        <class>setup</class>
        <design>default</design>
        <template>default</template>
      </layout>
    </system>
  </setup>
  <backoffice>
    <modules>
      <One_Core>
        <route />
      </One_Core>
      <One_Admin_Core>
        <active>1</active>
        <codePool>core</codePool>
        <route type="admin.core/router.route" path="core" name="core" />
        <requires>
          <One_Core />
        </requires>
      </One_Admin_Core>
    </modules>
    <system>
      <default-module>One_Admin_Core</default-module>
      <layout>
        <class>backoffice</class>
        <design>default</design>
        <template>default</template>
      </layout>
    </system>
  </backoffice>
  <production>
    <system>
      <hostname>one</hostname>
    </system>
    <modules>
      <One_Core>
        <active>1</active>
      </One_Core>
    </modules>
  </production>
  <preprod extends="production" />
  <testing extends="production" />
  <debug extends="production"></debug>
</application>